
body{
    background-image: url("assets/images/62-626756_howls-moving-castle-city.jpg") ;
    height: 1500px;
    
}
.layer{
    background-color: rgb(184, 184, 184, 0.7);
    width: 100%;
    height: 100%;
}
.movie-srcs{
    height:180px;
    width: 180px;
    display: inline-block;
    margin-right: 32px;
    
}

.image-side{
    
    margin-left: 10%;
}
.movie-info{
   margin-left: 16px;
    
}

.popup{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 15%;
    left: 18%;
    box-sizing: content-box;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    border: black solid 1px;
    padding: 20px;
    background-color:white
    
    
}

li{
    display: inline;
     margin: 8px;
}

img{
    width: 400px;
    
    
}

.image-side img{
    height: 600px;
    width: 1200px;
    
}

.synopsis{
   width: 75%;
    
}

#favbutton{
    
    border: black solid 1px; 
    font-size: 18px;
   
}


#favbutton:hover{
    background-color: rgba(150, 214, 201, 0.09);
}




#favbutton:active{
    background-color: rgba(15, 18, 19, 0.166);
}

