.movie-srcs{
    height:110px;
    width: 110px;
    display: inline-block;
}

.image-side{
    
    margin-left: 10%;
}
.movie-info{
   margin-left: 16px;
    
}

.popup{
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    border: black solid 1px;
    padding: 20px;
    
    
}

li{
    display: inline;
     margin: 8px;
}

img{
    width: 400px;
    
    
}

.image-side img{
    height: 400px;
    width: 800px;
    
}

.synopsis{
   width: 75%;
    
}